<div>
<form method="POST" action="">
	Name <input type="text" name="name" />
	<br>
	Email <input type="email" name="email" />
	<br>
	<input type="submit" value="Insert">
</form>
</div>
<div>
<table border = 1>

<tr>
	<th>Name</th>
    <th>Email</th>
    <th>ID</th>
	<th colspan="2">Actions</th>
</tr>

{% for user in users %}
<tr>
	<td> {{user[0]}}</td>
	<td> {{user[1]}}</td>
	<td> {{user[2]}}</td>
	<td> <a href="/delete/{{user[2]}}">Delete</a> </td>
	<td> <a href="/update/{{user[2]}}">Update</a> </td>
</tr>
{%endfor%}
</table>
</div>